html, body, h1, h2, ul, li, a{
    margin:0;
    padding:0;
    font-family: Calibri, Arial;
}

header{
    background-color: #23384B;
    padding-top:7px;
    padding-left: 50px;
}



nav{
    background-color: #F7F7F7;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid #797978;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color:#797978;
    font-weight: bold;
    font-size:17px;
    padding-left: 10px;
    padding-right: 15px;
}


nav ul li a:hover{
    text-decoration: underline;
    color:#000000;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#e8d199;
}



article{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}


article h1{
    font-size:38px;
    text-align: center;
}

article h2{
    font-size: 30px;
}

article p{
    font-size: 24px;
    text-align: justify;
}



footer{
    background-color: #23384B;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}
